<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>productPage1</title>
<link rel="stylesheet" href="Checkout.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo 2">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script>
    const currentPath = window.location.pathname;
    if (!currentPath.startsWith('/danhmuc')) {
    localStorage.clear();
}
</script>
</head>

<body>
<!-- NavBar -->
<header>
    
    <div class="logo">NXB XYZ</div>
    <input type="checkbox" id="nav_check" hidden>
    <nav>
        <ul>
            <li class="li">
                <strong><a href="/index" class="navbarcss">Trang chủ</a></strong>
            </li>
            <li class="li">
                <strong><a href="/danhmuc" class="navbarcss">Danh mục</a></strong>
            </li>
            <li class="li">
                <strong><a href="#" id="search-link" class="navbarcss">Tìm kiếm</a></strong>
            </li>
            <li class="dropdown li" >
                <strong><a href="#" id="user-link" class="navbarcss">Người dùng</a></strong>
                <div class="dropdown-content">
                    <div class="login-box">
                        <% if(userN == null) { %>
                            <!-- TRƯỚC KHI ĐĂNG NHẬP -->
                            <form id="login-form" class="hidden-form" action="/login" method="post"> <!-- Bắt đầu form ẩn đi -->
                                <label style="font-size: 1.8rem;"><strong>ĐĂNG NHẬP TÀI KHOẢN</strong></label>
    
                                <label for="uname"><strong>Email:</strong></label>
                                <input type="text" id="uname" name="username" placeholder="Tên đăng nhập" required autocomplete="off">
    
                                <label for="pass"><strong>Password:</strong></label>
                                <input type="password" id="pass" name="password" placeholder="Mật khẩu" required>
    
                                <button type="submit" id="login-button"><strong>ĐĂNG NHẬP</strong></button><br>
                                
                                <label>Khách hàng mới?<strong><a href="/signup">Tạo tài khoản</a></strong></label>
                                <label>Quên mật khẩu?<strong><a href="#">Khôi phục mật khẩu</a></strong></label>
                            </form>
                        <% } else { %>
                            <!-- SAU KHI ĐĂNG NHẬP -->
                            <form id="login-form" style="display: none;" > <!-- Bắt đầu form ẩn đi -->
                                <style>
                                    label:hover {
                                        text-decoration: underline;
                                        text-decoration-thickness: 2px;
                                        text-underline-offset: 8px;
                                        text-decoration-color: black;
                                    }
                                </style>
                                <label id="checkout"><strong><a href="/delivery">ĐƠN HÀNG CỦA BẠN</a></strong></label>
                                <div>
                                  <hr style="border: 0; border-bottom: 2px solid black; margin: 1.5rem 0; width: 100%;">
                                </div>
                                <label id="logout"><strong><a href="/logout">ĐĂNG XUẤT</a></strong></label>
                            </form>
                        <% } %>
                    </div>
                </div>
                <li id="cart-container">
                    <div class="cart-box">
                        <strong><span><a href="/cart" class="navbarcss">GIỎ HÀNG</a></span></strong>
                    </div>
                    <div class="cart-box">
                        <%= carts %>
                    </div>
            </li>
            </li>
            
        </ul>
    </nav>
    <label for="nav_check" class="smallScale">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <div class="search-box-container" id="search-box-container">
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Bạn đang muốn tìm gì?">
            <button id="search-button">TÌM KIẾM</button>
        </div>
    </div>
    </header>

<div class="webTitle">
	<h1>Thông tin giao hàng</h1>	
</div>	
	
<!-- Container1 -->
<main class="container">
	
  <!-- Left Column-->
  <div class="left-column">
	<div class="box-model-left">
		<div class="text-box">
        <label for="name">Họ và tên:</label>
        <input type="text" id="name" name="name" required>
      </div>	
      <div class="text-box">
        <label for="address">Địa chỉ:</label>
        <input type="text" id="address" name="address" required>
      </div>
      <div class="text-box">
        <label for="phone-num">Số điện thoại:</label>
        <input type="text" id="phone-num" name="phone-num" required>
      </div>
		<div class="text-box">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
      </div>
  </div>
	</div>
  <!-- Right Column -->
	<div class="right-column">
		<div class="box-model">
			<div class="box-title">THÔNG TIN ĐƠN HÀNG</div>
			<div class="total-amount">
        <span class="total-title">Mã đơn hàng:</span>
        <span class="total-number"><%= rightData.mdh %></span>
      </div>
			<hr style="border: 0; border-bottom: 1px solid black; margin: 1.5rem 0;">
		<div class="total-amount">
        <span class="total-title">Tạm tính:</span>
        <span class="total-number"><%= (rightData.totalPrice).toLocaleString('vi-VN') %>đ %></span>
      </div>
			<div class="total-amount">
        <span class="total-title">Phí vận chuyển:</span>
        <span class="total-number">20.000đ</span>
      </div><hr style="border: 0; border-bottom: 1px solid black; margin: 1.5rem 0;">
      <div class="total-amount">
        <span class="total-title">Tổng tiền:</span>
        <span class="total-number"><%= (rightData.priceAfterShip).toLocaleString('vi-VN') %>đ %></span>
    </div>
			
		</div>
	</div>
	</main>
<div class="webTitle2">
	<h1>Phương thức thanh toán</h1>	
</div>
	<main class="container">
	
  <!-- Left Column-->
  <div class="left-column">
	<table>
    <tr>
        <td>
            <input type="radio" name="row" id="row1" checked>
            <label for="row1">Thanh toán khi nhận hàng (COD)</label>
            <p>Khi chọn phương thức Thanh toán khi giao hàng (COD), bạn vui lòng kiểm tra kĩ hàng trước khi nhận hàng và thanh toán toàn bộ giá trị đơn hàng cho shipper.</p>
        </td>
    </tr>
    <tr class="separator"></tr>
    <tr>
        <td>
            <input type="radio" name="row" id="row2">
            <label for="row2">Thanh toán chuyển khoản</label>
            <p><strong>Quý khách vui lòng chuyển khoản toàn bộ giá trị đơn hàng tới số tài khoản sau:</strong></p>
			<p><strong>Tên tài khoản:</strong> Nhà xuất bản XYZ</p>
			<p><strong>Số tài khoản:</strong> 1234567890</p>
			<p><strong>Ngân hàng IPC - Công Ty Hành Tinh Hòa Bình - Chi nhánh Pier Point</strong></p>
			<p><strong>Nội dung chuyển khoản:</strong> Tên – Mã Đơn hàng – SĐT </p>
        </td>
    </tr>
</table>
	  


  </div>
</main>
  <!-- Pop-up -->	
		  <div class="container1">
        <button  type="submit" class="btn" onclick="openPopup()">TIẾN HÀNH ĐẶT HÀNG</button>
      
	<div class="overlay"></div>
	<div class="popup" id="popup" >
		<img src="https://onedrive.live.com/embed?resid=22B721284FCB62DE%21195203&authkey=%21AMKBKC4oRv4lwEs&width=2000&height=2000">
		<h2>BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG!</h2>
		<h4>Chúng tôi đã nhận được đơn hàng của bạn. Chúng tôi sẽ gửi lại một email xác nhận trong thời gian sớm nhất. Cảm ơn bạn đã mua hàng.</h4>
		<a href="/index"><button   type="button" onclick="closePopup()">OK</button></a>
			
	</div>
</div>
	
	
<!-- Footer -->
<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>NXB XYZ</h4>
  	 			<ul>
  	 				<li><a href="#">Về chúng tôi</a></li>
  	 				<li><a href="#">Dịch vụ của chúng tôi</a></li>
  	 				<li><a href="#">Chính sách bảo mật</a></li>
  	 				<li><a href="#">Chương trình liên kết</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Bạn cần trợ giúp?</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Giao hàng</a></li>
  	 				<li><a href="#">Đổi trả</a></li>
  	 				<li><a href="#">Trạng thái đơn hàng</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">Manga</a></li>
  	 				<li><a href="#">Light Novel</a></li>
  	 				<li><a href="#">Comics</a></li>
  	 				<li><a href="#">Kỹ năng sống</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Theo dõi chúng tôi</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
  <script>
    //Navbar	
    document.addEventListener("DOMContentLoaded", function() {
            
        var searchLink = document.getElementById("search-link");
        var searchBoxContainer = document.getElementById("search-box-container");
        var searchInput = document.getElementById("search-input");
    
        searchLink.addEventListener("click", function(event) {
            event.preventDefault();
            if (searchBoxContainer.style.display === "block") {
                searchBoxContainer.style.display = "none";
            } else {
                searchBoxContainer.style.display = "block";
            }
        });
    
        document.getElementById("search-button").addEventListener("click", function() {
                var searchText = document.getElementById('search-input').value;
                fetch('/search?query=' + searchText)
                    .then(response => {
                        // Kiểm tra nếu phản hồi là chuyển hướng
                        if (response.redirected) {
                            // Chuyển hướng trình duyệt đến URL mới
                            window.location.href = response.url;
                            return; // Dừng việc xử lý tiếp theo
                        }
                        // Nếu không phải là chuyển hướng, xử lý phản hồi JSON
                        return response.json();
                    })
                    .then(data => {
                        // Xử lý kết quả tìm kiếm ở đây nếu cần
                        console.log(data);
                    })
                    .catch(error => console.error('Error:', error));
            });
    });
    
    document.getElementById('user-link').addEventListener('click', function(event) {
        event.preventDefault();
        toggleDropdown();
    });
    
    function toggleDropdown() {
        const dropdownContent = document.querySelector('.dropdown-content');
        dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
    }
    
    //Navbar sau khi Log in
    document.getElementById('checkout').addEventListener('click', function() {
        window.location.href = 'orders.html';
      });
    
      document.getElementById('logout').addEventListener('click', function() {
        window.location.href = 'logout.html';
      });

</script>

	<script>
		let popup = document.getElementById("popup");

function openPopup(){
    popup.classList.add("open-popup");
    document.body.classList.add("popup-open");
}

function closePopup(){
    popup.classList.remove("open-popup");
    document.body.classList.remove("popup-open");
}
	</script>
	<script>
    // Đảm bảo mã JavaScript được thực thi sau khi tài liệu HTML đã được tải
    document.addEventListener('DOMContentLoaded', function() {
        // Lấy phần tử "login-button"
        var loginButton = document.getElementById('user-link');
        
        // Lấy form cần hiển thị khi click vào "login-button"
        var loginForm = document.getElementById('login-form');

        // Thêm sự kiện click cho "login-button"
        loginButton.addEventListener('click', function() {
            // Khi click vào "login-button", thay đổi thuộc tính "display" của form từ "none" sang "block"
            loginForm.style.display = 'block';
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
    // Lấy thẻ form
    var loginForm = document.getElementById('login-form');

    // Kiểm tra trạng thái đăng nhập và ẩn/hiện form tương ứng
    if (<%= userN %> == null) {
        loginForm.classList.add('hidden-form');
    } else {
        loginForm.classList.remove('hidden-form');
    }
});



// truyền dữ liệu cho server || route POST record
document.addEventListener('DOMContentLoaded', function() {
    // Lấy thẻ button "TIẾN HÀNH ĐẶT HÀNG"
    var submitButton = document.querySelector('.btn');

    // Thêm sự kiện click cho button "TIẾN HÀNH ĐẶT HÀNG"
    submitButton.addEventListener('click', function() {
        // Lấy giá trị từ các ô input
        var name = document.getElementById('name').value;
        var address = document.getElementById('address').value;
        var phoneNum = document.getElementById('phone-num').value;
        var email = document.getElementById('email').value;

        var paymentOptions = document.getElementsByName('row');
        for (var i = 0; i < paymentOptions.length; i++) {
            if (paymentOptions[i].checked) {
                paymentMethod = paymentOptions[i].value;
                break;
            }
        }
        // Tạo một object chứa dữ liệu để gửi đi
        var data = {
            hoTen: name,
            diaChi: address,
            soDienThoai: phoneNum,
            email: email,
            phuongThucThanhToan: paymentMethod
        };
        console.log(data);
        // Gửi request POST đến route "/thanh-toan"
        fetch('/record', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ data: data })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log(data); // Xử lý kết quả trả về từ server nếu cần
            // Sau khi nhận được phản hồi từ server, bạn có thể thực hiện các hành động tiếp theo tại đây
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});




</script>


</body>
</html>
