<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>productPage1</title>
<link rel="stylesheet" href="danhmuc.css">
<script src="danhmuc.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo 2">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<script src="indexFunction.js"></script>

</head>

<body>
<!-- NavBar -->
<header>
    
    <div class="logo">NXB XYZ</div>
    <input type="checkbox" id="nav_check" hidden>
    <nav>
        <ul>
            <li class="li">
                <strong><a href="/index" class="navbarcss" onclick="resetState()">Trang chủ</a></strong>
            </li>
            <li class="li">
                <strong><a href="/danhmuc" class="navbarcss">Danh mục</a></strong>
            </li>
            <li class="li">
                <strong><a href="#" id="search-link" class="navbarcss">Tìm kiếm</a></strong>
            </li>
            <li class="dropdown li" >
                <strong><a href="#" id="user-link" class="navbarcss">Người dùng</a></strong>
                <div class="dropdown-content">
                    <div class="login-box">
                        <% if(userN == null) { %>
                            <!-- TRƯỚC KHI ĐĂNG NHẬP -->
                            <form id="login-form" class="hidden-form" action="/login" method="post"> <!-- Bắt đầu form ẩn đi -->
                                <label style="font-size: 1.8rem;"><strong>ĐĂNG NHẬP TÀI KHOẢN</strong></label>
    
                                <label for="uname"><strong>Email:</strong></label>
                                <input type="text" id="uname" name="username" placeholder="Tên đăng nhập" required autocomplete="off">
    
                                <label for="pass"><strong>Password:</strong></label>
                                <input type="password" id="pass" name="password" placeholder="Mật khẩu" required>
    
                                <button type="submit" id="login-button"><strong>ĐĂNG NHẬP</strong></button><br>
                                
                                <label>Khách hàng mới?<strong><a href="/signup">Tạo tài khoản</a></strong></label>
                                <label>Quên mật khẩu?<strong><a href="#">Khôi phục mật khẩu</a></strong></label>
                            </form>
                        <% } else { %>
                            <!-- SAU KHI ĐĂNG NHẬP -->
                            <form id="login-form" style="display: none;" > <!-- Bắt đầu form ẩn đi -->
                                <style>
                                    label:hover {
                                        text-decoration: underline;
                                        text-decoration-thickness: 2px;
                                        text-underline-offset: 8px;
                                        text-decoration-color: black;
                                    }
                                </style>
                                <label id="checkout"><strong><a href="/delivery">ĐƠN HÀNG CỦA BẠN</a></strong></label>
                                <div>
                                  <hr style="border: 0; border-bottom: 2px solid black; margin: 1.5rem 0; width: 100%;">
                                </div>
                                <label id="logout"><strong><a href="/logout">ĐĂNG XUẤT</a></strong></label>
                            </form>
                        <% } %>
                    </div>
                </div>
                <li id="cart-container">
                    <div class="cart-box">
                        <strong><span><a href="/cart" class="navbarcss">GIỎ HÀNG</a></span></strong>
                    </div>
                    <div class="cart-box">
                        <%= carts %>
                    </div>
            </li>
            </li>
            
        </ul>
    </nav>
    <label for="nav_check" class="smallScale">
        <div></div>
        <div></div>
        <div></div>
    </label>
    <div class="search-box-container" id="search-box-container">
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Bạn đang muốn tìm gì?">
            <button id="search-button">TÌM KIẾM</button>
        </div>
    </div>
    </header>
    
<!-- Container1 -->
<main class="container1">
	
  <!-- Left Column / Books Image -->
  <div class="left-column1">

    <div class="book-category" ng-cloak>
        <div class="headerTitle">THỂ LOẠI</div>
            <div class="theloaiFilter" ng-show="mainCatstr=='sach'">
                    <ul class='filter'>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Lãng mạn">
                                <a>Lãng mạn<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Girls Love">
                                <a>Girls Love<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                            
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Hài hước">
                                <a>Hài Hước<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Đời thường">
                                <a>Đời Thường<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Âm nhạc">
                                <a>Âm Nhạc<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Shounen">
                                <a>Shounen<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label> 
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Giả tưởng">
                                <a>Giả Tưởng<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label> 
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Drama">
                                <a>Drama<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>    
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Drama tâm lý">
                                <a>Drama Tâm Lý<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label> 
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Mecha">
                                <a>Mecha<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label> 
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Hành động">
                                <a>Hành Động<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li >
                            <label class="checkbox-container">
                                <input type="checkbox" name="tag" value="Học đường">
                                <a>Học Đường<i class='item-total'></i></a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
            </div>

            <h2 class="headerTitle">KHOẢNG GIÁ</h2>
                    <ul class="filter">
                        <li>
                            <label class="checkbox-container">
                                <input type="checkbox" name="price" value="1">
                                <a>Nhỏ hơn 50.000đ</a>
                                <span class="checkmark"></span>
                            </label>    
                        </li>
                        <li>
                            <label class="checkbox-container">
                                <input type="checkbox" name="price" value="50001">
                                <a>Từ 50.000đ - 100.000đ</a>
                                <span class="checkmark"></span>
                            </label> 
                        </li>
                        <li>
                            <label class="checkbox-container">
                                <input type="checkbox" name="price" value="100001">
                                <a>Từ 100.000đ - 150.000đ</a>
                                <span class="checkmark"></span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-container">
                                <input type="checkbox" name="price" value="150001">
                                <a>Từ 150.000đ - 200.000đ</a>
                                <span class="checkmark"></span>
                            </label>
                        </li><br>
                        <form action="/reset" method="POST">
                            <button type="button" onclick="getSelected()">Lọc</button>
                            <button type="submit">Đặt lại bộ lọc</button>
                          </form>

                          
                    </ul>
        </div>
    </div>
  </div>
 
 
  <!-- Right Column -->
<div class="right-column1">
<div class="headerTitle2">TẤT CẢ SẢN PHẨM</div>
    <!-- Product Description -->
    <!-- Grid san pham -->	
<div class = "wrapper">
    <div class = "container">
		<div class = "sanPham">
		<div class = "containerSP">
            <% if (bookFound && bookFound.length > 0) { %>
                <% bookFound.forEach(name => { %>
                    <% const book = pros.find(item => item.name === name); %>
                    <% if (book) { %>
                        <div class="itemSP">
                            <div class="imgSP">
                                <img src="<%= book.sach[0].picURL %>" alt="imageSP" onclick="Click('<%= book.name %>', '<%= book.author %>'), resetState()">
                                <div>
                                    <button type="button" class="add-btn" onclick="checkSession('<%= book._id %>')">Thêm vào giỏ </button>
                                </div>
                            </div>
                            <div class="contentSP">
                                <a href="#" class="book-title" onclick="Click('<%= book.name %>', '<%= book.author %>'), resetState()"><%= book.name %></a>
                                <p class="author">Tác giả: <span><%= book.author %></span></p>
                                <div><span class="giaTien"><%= (book.sach[0].gia).toLocaleString('vi-VN', {style: 'currency', currency: 'VND'}) %></span></div>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
            <% } else { %>
                <% pros.forEach(book => { %>
                    <div class="itemSP">
                        <div class="imgSP">
                            <img src="<%= book.sach[0].picURL %>" alt="imageSP" onclick="Click('<%= book.name %>', '<%= book.author %>'), resetState()">
                            <div>
                                <button type="button" class="add-btn" onclick="checkSession('<%= book._id %>')">Thêm vào giỏ </button>
                            </div>
                        </div>
                        <div class="contentSP">
                            <a href="#" class="book-title" onclick="Click('<%= book.name %>', '<%= book.author %>'), resetState()"><%= book.name %></a>
                            <p class="author">Tác giả: <span><%= book.author %></span></p>
                            <div><span class="giaTien"><%= (book.sach[0].gia).toLocaleString('vi-VN', {style: 'currency', currency: 'VND'}) %></span></div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
            
            
    </div>
</div>
	</div>
	</div>
  </div>
</main>

	
<!-- Footer -->
<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>NXB XYZ</h4>
  	 			<ul>
  	 				<li><a href="#">Về chúng tôi</a></li>
  	 				<li><a href="#">Dịch vụ của chúng tôi</a></li>
  	 				<li><a href="#">Chính sách bảo mật</a></li>
  	 				<li><a href="#">Chương trình liên kết</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Bạn cần trợ giúp?</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Giao hàng</a></li>
  	 				<li><a href="#">Đổi trả</a></li>
  	 				<li><a href="#">Trạng thái đơn hàng</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">Manga</a></li>
  	 				<li><a href="#">Light Novel</a></li>
  	 				<li><a href="#">Comics</a></li>
  	 				<li><a href="#">Kỹ năng sống</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Theo dõi chúng tôi</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
</body>


<script>
	function addToCart(productID) {
        // Tạo một đối tượng dữ liệu để gửi lên server
        const data = { productID: productID };

        // Gửi yêu cầu POST đến route "/add-to-cart" trên server
        fetch('/add-to-cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            // Xử lý phản hồi từ server (nếu cần)
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function updateCart() {
    // Thực hiện logic thêm sản phẩm vào giỏ hàng ở đây

    // Sau khi đã thêm vào giỏ hàng, chuyển hướng người dùng đến route /index
    window.location.href = '/index';
}


    function checkSession(itemId) {
   var xhr = new XMLHttpRequest();
   xhr.open('GET', '/checkSession');
   xhr.onload = function() {
       if (xhr.status === 200) {
           var response = JSON.parse(xhr.responseText);
           if (!response.loggedIn) {
               // Hiển thị thông báo nếu người dùng chưa đăng nhập
               alert('Vui lòng đặt nhập trước khi thêm vào giỏ hàng');
           } else {
            addItemIntoCart(itemId)
            console.log(items);
           }
       } else {
           // Hiển thị thông báo nếu có lỗi trong quá trình kiểm tra session
           alert('Error checking session');

           console.log(items);
       }
   };
   xhr.send();
}
    
  </script>
  
  <script>
        
        //Navbar	
        document.addEventListener("DOMContentLoaded", function() {
                
            var searchLink = document.getElementById("search-link");
            var searchBoxContainer = document.getElementById("search-box-container");
            var searchInput = document.getElementById("search-input");
        
            searchLink.addEventListener("click", function(event) {
                event.preventDefault();
                if (searchBoxContainer.style.display === "block") {
                    searchBoxContainer.style.display = "none";
                } else {
                    searchBoxContainer.style.display = "block";
                }
            });
        
            document.getElementById("search-button").addEventListener("click", function() {
                var searchText = document.getElementById('search-input').value;
                fetch('/search?query=' + searchText)
                    .then(response => {
                        // Kiểm tra nếu phản hồi là chuyển hướng
                        if (response.redirected) {
                            // Chuyển hướng trình duyệt đến URL mới
                            window.location.href = response.url;
                            return; // Dừng việc xử lý tiếp theo
                        }
                        // Nếu không phải là chuyển hướng, xử lý phản hồi JSON
                        return response.json();
                    })
                    .then(data => {
                        // Xử lý kết quả tìm kiếm ở đây nếu cần
                        console.log(data);
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
        
        document.getElementById('user-link').addEventListener('click', function(event) {
            event.preventDefault();
            toggleDropdown();
        });
        
        function toggleDropdown() {
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
        }
        
        //Navbar sau khi Log in
        document.getElementById('checkout').addEventListener('click', function() {
            window.location.href = 'orders.html';
          });
        
          document.getElementById('logout').addEventListener('click', function() {
            window.location.href = 'logout.html';
          });
                
                
        //Pop-up
        let popup = document.getElementById("popup");
        
        function openPopup(){
            popup.classList.add("open-popup");
            document.body.classList.add("popup-open");
        }
        
        function closePopup(){
            popup.classList.remove("open-popup");
            document.body.classList.remove("popup-open");
        }

        function getSelected() {
            const checkboxe = document.querySelectorAll('input[name="price"]:checked');
            let pricefil = 0;
            checkboxe.forEach((checkbox) => {
                pricefil = parseInt(checkbox.value);
            });
            var selectedItems = [];
            var checkboxes = document.getElementsByName('tag');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {

                    // selectedItems.append(checkboxes[i].value);
                    selectedItems.push(checkboxes[i].value);
                }
            }
            if(selectedItems.length === 0)
            {
                selectedItems.push();
            }
            // console.log(selectedItems);
        // Gửi yêu cầu POST đến route "/add-to-cart" trên server
        fetch('/danhmuc', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({filterem: selectedItems, pricefil: pricefil })

        }).then(response => {
            if (response.redirected) {
                            // Chuyển hướng trình duyệt đến URL mới
                            window.location.href = response.url;
                            return; // Dừng việc xử lý tiếp theo
                        }
                        // Nếu không phải là chuyển hướng, xử lý phản hồi JSON
                        return response.json();
        }).catch(error => {
            console.error('Error:', error);
        });
        
        }

        

        function getNumb() {
            const checkboxes = document.querySelectorAll('input[name="price"]:checked');
            let pricefil = 0;
            checkboxes.forEach((checkbox) => {
                pricefil = parseInt(checkbox.value);
            });
            //console.log(selectedNumbs);
        // Gửi yêu cầu POST đến route "/add-to-cart" trên server
        fetch('/danhmuc', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({pricefil: pricefil })

        }).then(response => {
            if (response.redirected) {
                            // Chuyển hướng trình duyệt đến URL mới
                            window.location.href = response.url;
                            return; // Dừng việc xử lý tiếp theo
                        }
                        // Nếu không phải là chuyển hướng, xử lý phản hồi JSON
                        return response.json();
        }).catch(error => {
            console.error('Error:', error);
        });
        
        }
     
    // const URlpage = '/productpage';
    function Click(bookName, auth) {
            console.log(bookName);
            console.log(auth);
        fetch('/ori', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ bookName: bookName, auth: auth }),
        }).then(response => {
            // Kiểm tra nếu phản hồi là chuyển hướng
            if (response.redirected) {
                            // Chuyển hướng trình duyệt đến URL mới
                            window.location.href = response.url;
                            return; // Dừng việc xử lý tiếp theo
                        }
                        // Nếu không phải là chuyển hướng, xử lý phản hồi JSON
                        return response.json();
        }).catch(error => {
            console.error('Error:', error);
        });
        //getProductPage()
    }
    
    function resetState() {
    // Gửi yêu cầu POST đến /reset để reset trạng thái
    fetch('/resetpage', { method: 'POST' })
        .then(response => {
            
        })
        .catch(error => console.error('Error resetting state:', error));
}
    
    </script>
   
   <script>
        
        document.addEventListener('DOMContentLoaded', function() {
    const selectedItems = /* lấy danh sách các ô đã chọn từ server */;
    selectedItems.forEach(item => {
        const checkbox = document.querySelector(`input[name="tag"][value="${item}"]`);
        if (checkbox) {
            checkbox.checked = true;
        }
    });
});

        // Đảm bảo mã JavaScript được thực thi sau khi tài liệu HTML đã được tải
        document.addEventListener('DOMContentLoaded', function() {
            // Lấy phần tử "login-button"
            var loginButton = document.getElementById('user-link');
            
            // Lấy form cần hiển thị khi click vào "login-button"
            var loginForm = document.getElementById('login-form');

            // Thêm sự kiện click cho "login-button"
            loginButton.addEventListener('click', function() {
                // Khi click vào "login-button", thay đổi thuộc tính "display" của form từ "none" sang "block"
                loginForm.style.display = 'block';
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
        // Lấy thẻ form
        var loginForm = document.getElementById('login-form');

        // Kiểm tra trạng thái đăng nhập và ẩn/hiện form tương ứng
        if (<%= userN %> == null) {
            loginForm.classList.add('hidden-form');
        } else {
            loginForm.classList.remove('hidden-form');
        }
    });
    </script>



</html>
<script>

</script>