<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>NXB XYZ</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo 2">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="HomePage.css">
</head>

<body>
<!-- Picture Slideshow -->	
<div class = "slideshowContainer">
	<div class="slideshowWrapper">
		<img src="https://onedrive.live.com/embed?resid=22B721284FCB62DE%21195049&authkey=%21ANcKA41Ohs1M_X4&width=1768&height=674">
		<img src="https://onedrive.live.com/embed?resid=22B721284FCB62DE%21195050&authkey=%21AD0ns6oU39GtsrQ&width=1768&height=674">
		<img src="https://onedrive.live.com/embed?resid=22B721284FCB62DE%21195051&authkey=%21APhmJ2CyX1tk9-k&width=1768&height=674">
		<img src="https://onedrive.live.com/embed?resid=22B721284FCB62DE%21195053&authkey=%21ADAvRPM2zZtm0ic&width=1768&height=674">
		<img src="https://onedrive.live.com/embed?resid=22B721284FCB62DE%21195049&authkey=%21ANcKA41Ohs1M_X4&width=1768&height=674">	</div>
</div>	
<!-- NavBar -->
<header>
    
<div class="logo">NXB XYZ</div>
<input type="checkbox" id="nav_check" hidden>
<nav>
    <ul>
        <li>
            <a href="/index" class="active">Trang chủ</a>
        </li>
        <li>
            <a href="/productpage">Sản phẩm</a>
        </li>
		<li>
            <a href="/danhmuc">Danh mục</a>
        </li>
        <li>
            <a href="#" id="search-link">Tìm kiếm</a>
        </li>
        <li class="dropdown">
            <a href="#" id="user-link">Người dùng</a>
            <div class="dropdown-content">
                <div class="login-box">

                    <% if(userN == null) { %>
                        <!-- TRƯỚC KHI ĐĂNG NHẬP -->
                        <form id="login-form" class="hidden-form" action="/login" method="post"> <!-- Bắt đầu form ẩn đi -->
                            <label style="font-size: 1.3rem;"><strong>ĐĂNG NHẬP TÀI KHOẢN</strong></label>

                            <label for="uname"><strong>Email:</strong></label>
                            <input type="text" id="uname" name="username" placeholder="Enter your name" required autocomplete="off">

                            <label for="pass"><strong>Password:</strong></label>
                            <input type="password" id="pass" name="password" placeholder="password" required>

                            <button type="submit" id="login-button">ĐĂNG NHẬP</button><br>
                            
                            <label>Khách hàng mới?  <strong><a href="/signup">Tạo tài khoản</a></strong></label>
                            <label style="color: red; font-weight: bold; " id="notifcation">
                                <% if (typeof error !== 'undefined' && error !== null) { %>
                                    <%= error %>
                                <% } %>         
                            </label>
                            <label style="color: green; font-weight: bold; ">
                                <% if (typeof message !== 'undefined' && message !== null) { %>
                                    <%= message %>
                                <% } %>         
                            </label>
                         <!--    <label>Quên mật khẩu?  <strong>Khôi phục mật khẩu</strong></label> -->
                        </form>
                    <% } else { %>
                        <!-- SAU KHI ĐĂNG NHẬP -->
                        <form id="login-form" style="display: none;" > <!-- Bắt đầu form ẩn đi -->
                            <style>
                                label:hover {
                                    text-decoration: underline;
                                    text-decoration-thickness: 2px;
                                    text-underline-offset: 8px;
                                    text-decoration-color: black;
                                }
                            </style>
                            <label id="checkout" style="font-size: 1.3rem; align-self: center; margin-bottom: 1px;"><strong><a href="/delivery">ĐƠN HÀNG CỦA BẠN</a></strong></label>
                            <div style="width: 100%; align-items: center; display: flex; justify-content: center;">
                                <hr style="border: 0; border-bottom: 1px solid black; margin: 1.5rem 0; width: 100%;">
                            </div>
                            <label id="logout" style="font-size: 1.3rem; align-self: center; margin-bottom: 1px;"><strong><a href="/logout">ĐĂNG XUẤT</a></strong></label>
                        </form>
                    <% } %>
                        


                </div>
            </div>
            <li id="cart-container">
                <a href="/cart">
            <div class="cart-box">
                <span>GIỎ HÀNG</span>
            </div>
            <div class="cart-box">
                <%= carts %>
            </div>
        </a>
        </li>
        </li>
        
    </ul>
</nav>
<label for="nav_check" class="smallScale">
    <div></div>
    <div></div>
    <div></div>
</label>
<div class="search-box-container" id="search-box-container">
    <div class="search-box">
        <input type="text" id="search-input" placeholder="Bạn đang muốn tìm gì?">
        <button id="search-button">Tìm kiếm</button>
    </div>
</div>
</header>


<!-- Grid san pham -->	
<div class="homepageTitle">Ấn phẩm mới phát hành</div>
<div class = "wrapper">
    <div class = "container">
		<div class = "sanPham">
		    <div class = "containerSP">         
                <% Object.keys(pros).forEach(key => { %>
                    <div class="itemSP">
                        <div class="imgSP">
                            <img src="<%= pros[key].sach[0].picURL %>" alt="imageSP">
                        
                        <div>
                            <button type="button" class="add-btn" onclick="addToCart('<%= pros[key].name %>');updateCart()">Thêm vào giỏ </button>
                        </div>
                    </div>
                    <div class="contentSP">
                        <a href="#" class="book-title"><%= pros[key].name %></a>
                        <p class="author">Tác giả: <span><%= pros[key].author %></span></p>
						<div><span class="giaTien"><%= (pros[key].sach[0].gia).toLocaleString('vi-VN', {style: 'currency', currency: 'VND'}) %></span></div>
                    </div>
                    </div>
                <% }); %>
            </div>
        </div>
	</div>
</div>
	
<!-- Footer -->
<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>NXB XYZ</h4>
  	 			<ul>
  	 				<li><a href="#">Về chúng tôi</a></li>
  	 				<li><a href="#">Dịch vụ của chúng tôi</a></li>
  	 				<li><a href="#">Chính sách bảo mật</a></li>
  	 				<li><a href="#">Chương trình liên kết</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Bạn cần trợ giúp?</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Giao hàng</a></li>
  	 				<li><a href="#">Đổi trả</a></li>
  	 				<li><a href="#">Trạng thái đơn hàng</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">Manga</a></li>
  	 				<li><a href="#">Light Novel</a></li>
  	 				<li><a href="#">Comics</a></li>
  	 				<li><a href="#">Kỹ năng sống</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Theo dõi chúng tôi</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
  <script>
	function addToCart(productName) {
        // Tạo một đối tượng dữ liệu để gửi lên server
        const data = { productName: productName };

        // Gửi yêu cầu POST đến route "/add-to-cart" trên server
        fetch('/add-to-cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => {
            // Xử lý phản hồi từ server (nếu cần)
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function updateCart() {
    // Thực hiện logic thêm sản phẩm vào giỏ hàng ở đây

    // Sau khi đã thêm vào giỏ hàng, chuyển hướng người dùng đến route /index
    window.location.href = '/index';
}


    function checkSession(itemId) {
   var xhr = new XMLHttpRequest();
   xhr.open('GET', '/checkSession');
   xhr.onload = function() {
       if (xhr.status === 200) {
           var response = JSON.parse(xhr.responseText);
           if (!response.loggedIn) {
               // Hiển thị thông báo nếu người dùng chưa đăng nhập
               alert('Vui lòng đặt nhập trước khi thêm vào giỏ hàng');
           } else {
            addItemIntoCart(itemId)
            console.log(items);
           }
       } else {
           // Hiển thị thông báo nếu có lỗi trong quá trình kiểm tra session
           alert('Error checking session');

           console.log(items);
       }
   };
   xhr.send();
}
    
  </script>
  
  <script>
        //Navbar	
        document.addEventListener("DOMContentLoaded", function() {
                
            var searchLink = document.getElementById("search-link");
            var searchBoxContainer = document.getElementById("search-box-container");
            var searchInput = document.getElementById("search-input");
        
            searchLink.addEventListener("click", function(event) {
                event.preventDefault();
                if (searchBoxContainer.style.display === "block") {
                    searchBoxContainer.style.display = "none";
                } else {
                    searchBoxContainer.style.display = "block";
                }
            });
        
            document.getElementById("search-button").addEventListener("click", function() {
                var searchTerm = searchInput.value.trim();
                if (searchTerm !== "") {
                    alert("Perform search for: " + searchTerm);
                }
            });
        });
        
        document.getElementById('user-link').addEventListener('click', function(event) {
            event.preventDefault();
            toggleDropdown();
        });
        
        function toggleDropdown() {
            const dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
        }
        
        //Navbar sau khi Log in
        document.getElementById('checkout').addEventListener('click', function() {
            window.location.href = 'orders.html';
          });
        
          document.getElementById('logout').addEventListener('click', function() {
            window.location.href = 'logout.html';
          });
                
                
        //Pop-up
        let popup = document.getElementById("popup");
        
        function openPopup(){
            popup.classList.add("open-popup");
            document.body.classList.add("popup-open");
        }
        
        function closePopup(){
            popup.classList.remove("open-popup");
            document.body.classList.remove("popup-open");
        }
    
    </script>
   
   <script>
        // Đảm bảo mã JavaScript được thực thi sau khi tài liệu HTML đã được tải
        document.addEventListener('DOMContentLoaded', function() {
            // Lấy phần tử "login-button"
            var loginButton = document.getElementById('user-link');
            
            // Lấy form cần hiển thị khi click vào "login-button"
            var loginForm = document.getElementById('login-form');

            // Thêm sự kiện click cho "login-button"
            loginButton.addEventListener('click', function() {
                // Khi click vào "login-button", thay đổi thuộc tính "display" của form từ "none" sang "block"
                loginForm.style.display = 'block';
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
        // Lấy thẻ form
        var loginForm = document.getElementById('login-form');

        // Kiểm tra trạng thái đăng nhập và ẩn/hiện form tương ứng
        if (<%= userN %> == null) {
            loginForm.classList.add('hidden-form');
        } else {
            loginForm.classList.remove('hidden-form');
        }
    });

    

    </script>

</html>
